.NoMore {
    background: #327052;
    height: 50rem;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.NoMore img {
    position: relative;
    bottom: -8rem;
    width: 60rem;
    height: 70rem;
}

.NoMore div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    color: white;
}

.NoMoreText div {
    width: 50%;
}

.NoMore div p:nth-child(1) {
    font-size: 3.5rem;
}

.NoMore div p:nth-child(2) {
    font-size: 1.2rem;
}

.NoMore button {
    color: black;
    background: #DFFF84;
    width: 9rem;
    height: 3rem;
    border: none;
    border-radius: 2rem;
}